* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  font-family: Oswald, sans-serif;
  font-size: 1.8rem;
}

.wapp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 376px;
  height: 650px;
  background-color: #161616;
  color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #000;
  transition: background-color 1.5s;
}
.wapp .darkmode {
  position: absolute;
  right: 0;
  top: 1px;
}
.wapp .darkmode #toggle {
  display: none;
}
.wapp .darkmode .daylight {
  display: inline-block;
  width: 80px;
  height: 24px;
  border: 2px solid #363636;
  background-color: rgba(53, 0, 0, 0.466);
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}
.wapp .darkmode .daylight:after {
  content: url("../img/darkmode.png");
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(56, 56, 56, 0.8549019608);
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  top: -7px;
  left: -3px;
  display: grid;
  place-content: center;
  line-height: 0;
  transition: background-color 1s, transform 1s ease-in;
}
.wapp .darkmode #toggle:checked + .daylight:after {
  content: url(../img/sunmode.png);
  background-color: #8f8f8f;
  transform: translateX(50px) rotate(1turn);
}
.wapp .wapp-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
  text-transform: uppercase;
  text-align: center;
}
.wapp .wapp-top__para {
  color: #989898;
  letter-spacing: 1.1px;
}
.wapp .wapp-top__search {
  position: relative;
  display: flex;
  justify-content: center;
}
.wapp .wapp-top__search input {
  position: absolute;
  width: 80%;
  height: 35px;
  padding: 0 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.493);
  color: #fff;
  font-size: 1em;
  outline: transparent;
  border: transparent;
}
.wapp .wapp-top__search button {
  color: #fff;
  margin-top: 5px;
  margin-left: 235px;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.wapp .wapp-top__search button img {
  width: 25px;
  height: 25px;
}
.wapp .wapp-body {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}
.wapp .wapp-body__city {
  z-index: 1;
}
.wapp .wapp-body__city img {
  padding-right: 5px;
  height: 25px;
}
.wapp .wapp-body__icon {
  width: 65%;
  transition: transform 0.3s;
}
.wapp .wapp-body__icon:hover {
  transform: scale(1.05);
}
.wapp .wapp-body__weather {
  letter-spacing: 1.1px;
  text-align: center;
  font-size: 1.2em;
  margin-top: 15px;
}
.wapp .wapp-bot {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 15%;
  text-transform: uppercase;
  text-align: center;
  font-weight: thin;
}
.wapp .wapp-bot__headings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 40px;
  align-items: flex-start;
  letter-spacing: 1.1px;
  font-size: 0.9em;
}
.wapp .wapp-bot__headings h3 {
  font-weight: 400;
  cursor: default;
}
.wapp .wapp-bot__headings h3:hover {
  color: silver;
}
.wapp .wapp-bot__results {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 40px;
  letter-spacing: 1.1px;
  color: #989898;
}
.wapp .wapp-bot p {
  font-size: 1.05em;
}
hr {
  margin: 0 auto;
  width: 80%;
  border-color: hsla(0, 0%, 100%, 0.055);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  a {
    text-decoration: none;
    color: rgb(1, 135, 252);
    transition: font-size 0.3s;
  }
  a:hover {
    font-size: 2rem;
  }
}

.wapp-toggle {
  //tło light mode
  background-color: rgb(226, 226, 226) !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514) !important;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.774) !important;
}
.wapp-toggle,
.wapp-toggle-text {
  color: rgb(0, 0, 0) !important;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.774) !important;
}

.wapp-toggle-bg {
  background-color: hsla(0, 0%, 75%, 0.671) !important;
  color: #020202 !important;
}

@media (max-width: 576px) {
  .wapp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: #16161681;
    color: #fff;
    border-radius: 0px;
    box-shadow: 5px 5px 10px #000;
    transition: background-color 1.5s;
    overflow: hidden;
  }
  .wapp .darkmode {
    position: absolute;
    right: 5px;
    top: 8px;
  }

  .wapp .wapp-top__search button img {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 70px;
  }
  footer {
    display: none;
  }
}
